snippet sign "show the information of this file" b
# coding=utf8
# @author: baitwo02
endsnippet

snippet .xpath ".xpath(None)" b
.xpath('<++>') <++>
endsnippet

snippet re.sub "finish a re.sub macth" b
re.sub(r'$0', r'$1', $2)
endsnippet

snippet test "test the path of coc-snippet" b
def test():
	print('$1')
test()
$0
endsnippet
